.card{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Adjust values for desired 'lift' and shadow strength */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
    border-radius: 8px; /* Optional: adds rounded corners for a nicer look */
}

.card img {
    width: 100%;
}


.card-details {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:10px;
}

.card-details span{
    align-self: center;
    text-align: center;
}


.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.buy-button{
    border-radius: 10px;
    border: none;
    background-color: #90EE90;
    padding: 5px;
    width: 50px;
}