.cards-container{
    display: flex;
    gap: 20px;
}


.card{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); /* Adjust values for desired 'lift' and shadow strength */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
    border-radius: 8px; /* Optional: adds rounded corners for a nicer look */
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
}

.card img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-self: center;
    background-color: #1a1a1a; /* Fondo oscuro del marco */
    border-radius: 8px;
    object-fit: cover;

}
.card-details {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    gap: 10px;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: flex-end;
    justify-self: flex-end;
}

.card-details span{
    align-self: center;
    text-align: center;
}


.card-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.buy-button{
    border-radius: 10px;
    border: none;
    background-color: #90EE90;
    background-color: #0056b3;
    padding: 5px;
    width: 50px;
}


.buy-button:hover{
    cursor: pointer;
}


header {
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    font-family: Arial, sans-serif;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.login-btn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background-color: #ddd;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cart-icon {
    width: 25px;
    height: 25px;
    transition: 0.3s;
}

.cart-icon:hover {
    filter: invert(55%) sepia(75%) saturate(400%) hue-rotate(90deg);
}

.cart-count {
    position: absolute;
    top: -6px;
    right: -8px;
    background-color: red;
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-color: #222;
    margin: 0;
}

main {
    padding: 40px;
}

.img-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3); /* Ajusta el nivel */
}
